<% require "bb-ruby" %>
<% require "forum_helper" %>
<% spoiler_id = 0 %>

<% @subject.forum_messages.each do |message| %>
	<table class="table table-bordered">
		<tr style="background-color: #0095b6">
			<th>
				<span style="font-size:20px;"><strong><%= User.find(message.author_id).display_name %></strong></span>
				<span style="float:right; font-size:18px">
					<%= message.created_at.to_date %>, at <%= message.created_at.hour.to_s.rjust(2, "0") + ":" + message.created_at.min.to_s.rjust(2, "0") + ":" + message.created_at.sec.to_s.rjust(2, "0") %>
				</span>
			</th>
		</tr>
		<tr>
			<td>
<!-- Remove nested "[code]" and "[/code]" BBCodes -->
<%
	str = message.text
	i = 0
	stack = 0
	until i == message.text.length do
		if str[i..i + 5] == "[code]"
			stack += 1
			if stack > 1
				str[i..i + 5] = "[\bcode\b]"
				i += 8
				next
			else
				str[i..i + 5] = "\n[code]"
				i += 7
				next
			end
		end
		
		if str[i..i + 6] == "[/code]"
			stack -= 1
			if stack >= 1
				str[i..i + 6] = "[\b/code\b]"
				i += 9
				next
			else
				i += 7
				next
			end
		end
		
		if str[i] == "[" && stack >= 1
			str[i] = "["
			i += 1
		elsif  str[i] == "]" && stack >= 1
			str[i] = "]"
			i += 1
		end
		
		if str[i] == "\n" && stack == 0
			str[i] = "[br]"
			i += 2
		end
		
		i += 1
	end
%>
				<% 	unparsed = str.bbcode_to_html({}, true, :enable, :bold, :italics, :underline, :strikeout, :color, :link, :br)
					while unparsed["[code]"] != nil do
						unparsed["[code]"] = "<pre class=\"prettyprint linenums\">"
					end
					while unparsed["[/code]"] != nil do
						unparsed["[/code]"] = "</pre>"
					end
					while unparsed["[spoiler]"] != nil do
						unparsed["[spoiler]"] = ForumHelper.spoiler_code(spoiler_id)
						spoiler_id += 1
					end
					while unparsed["[/spoiler]"] != nil do
						unparsed["[/spoiler]"] = ForumHelper.end_spoiler_code
					end %>
				<%= ("<span class=\"message\">" + unparsed + "</span>").html_safe %>
			</td>
		</tr>
	</table>
<% end %>
