<% require "index_helper" %>
<% require "json" %>

<div class="alert alert-warning alert-dismissible" role="alert"><button type="button" class="close" data-dismiss="alert", aria-label="close"><span aria-hidden="true">&times;</span></button>
	This page will be empty if requested over HTTPS ("https://...../") ! Change it to "http://" or just ignore this.
</div>

<!--<div class="panel panel-default">
	<div class="panel-heading" style="font-size:24px;">
		<strong>Next Contests</strong>
	</div>
	<div class="panel-body">
		<table class="table">
			<thead>
				<tr>
					<th>Type</th>
					<th>Name</th>
					<th>Length</th>
					<th>Date</th>
					<th>Time left</th>
				</tr>
			</thead>
			<tbody id="nextcontests">
			</tbody>
		</table>
	</div>
</div>-->

<div class="panel panel-default">
	<div class="panel-heading" style="font-size:24px;">
		<strong>Top solvers (last 2 weeks)</strong>
	</div>
	<div class="panel-body">
		<div id="chart-1" style="height: 400px;">
		</div>
	</div>
</div>

<div class="panel panel-default">
	<div class="panel-heading" style="font-size:24px;">
		<strong>Last submissions</strong>
	</div>
	<div class="panel-body">
		<table class="table">
			<thead>
				<tr>
					<th>User</th>
					<th>Problem</th>
					<th>Verdict</th>
					<th>Language</th>
					<th>Time</th>
					<th>Submit Time</th>
				</tr>
			</thead>
			<tbody id="lastsubmissions">
			</tbody>
		</table>
		<center><button onclick="append_submissions(20);" class="btn btn-lg btn-primary btn-gray" style="margin: 0 0 10px 0;">Show 20 More</button>
	</div>
</div>
<%= javascript_tag "var users = #{IndexHelper.users_to_hash(session).to_json};" %>
<script>
	$(function()
	{
		last_submissions(submissions_ready);
	});
	
	function submissions_ready()
	{
		top_solvers(14);
		append_submissions(20);
	}
</script>
