<% require "json" %><!-- -->

<!-- Show reminders for the next week (if any) -->
<% if @reminders.any? %>
	<div class="alert alert-info" role="alert">
		<strong>Don't forget about these events:</strong>
		<ul>
			<% @reminders.each do |r| %>
				<li><%= r.title %>, <em>the <%= ApplicationHelper.datetime_to_s(r.time) %></em>.</li>
			<% end %>
		</ul>
	</div>
<% end %>

<div class="panel panel-default">
	<div class="panel-heading" style="font-size:24px;">
		<strong>Top solvers</strong>
	</div>
	<div class="panel-body">
		<center>
			<div class="btn-group" data-toggle="buttons">
				<label class="btn btn-default active" id="option1">
					<input type="radio" name="options" autocomplete="off" checked> All the users (default)
				</label>
				<label class="btn btn-default" id="option2">
					<input type="radio" name="options" autocomplete="off"> BeCP contestants only
				</label>
			</div>
		</center>
		<div id="chart-1" style="height: 400px;">
		</div>
	</div>
</div>

<div class="panel panel-default">
	<div class="panel-heading" style="font-size:24px;">
		<strong>Last submissions</strong>
	</div>
	<div class="panel-body">
		<table class="table">
			<thead>
				<tr>
					<th>User</th>
					<th>Problem</th>
					<th>Verdict</th>
					<th>Language</th>
					<th>Time</th>
					<th>Submit Time</th>
				</tr>
			</thead>
			<tbody id="lastsubmissions">
			</tbody>
		</table>
		<center><button onclick="UvaTracker.append_submissions(20);" class="btn btn-lg btn-primary btn-gray" style="margin: 0 0 10px 0;">Show 20 More</button>
	</div>
</div>
<%= javascript_tag "var users = #{@users.to_json};" %>
<script>
	$(function()
	{
		UvaTracker.last_submissions(submissions_ready);
	});

	function submissions_ready()
	{
		UvaTracker.top_solvers(14);
		UvaTracker.append_submissions(20);
	}

	$('#option1').click(function()
	{
		UvaTracker.top_solvers(14);
	});

	$('#option2').click(function()
	{
		UvaTracker.top_solvers(14, true);
	});
</script>
