<div class="noprint" style="margin-top: 25px;">
	<footer>
		<div><a target="_blank" href="https://github.com/Technici4n/BeOI-Training">Github, for any issue</a> | <a target="_blank" href="https://github.com/UCL-Algorithm-Contest/Cheatsheets/blob/master/Formulaire/main.pdf">Cheatsheet</a><span style="float: right;">BeOI Training</span></div>
	</footer>
</div>
