<div class="noprint" style="margin-top: 25px;">
	<footer>
		<div><a href="https://github.com/Technici4n/BeOI-Training" style="float: left;">Github, for any issue</a><span style="float: right;">BeOI Training | <a href="/changelog.txt">Changelog</a></span></div>
	</footer>
</div>
